
header.thanks {
  display: block;
  text-align: center;
}
.thanks-message {
  padding: 2% 5%;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
  .thanks-message {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {

  .logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    margin-bottom: 20px;
  }

}
